@import "../GlobalStyle";

.AppLayoutComp {
  height: $fullHeight;
  width: $fullWidth;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: [col-start] 1fr [col-end];
  grid-template-rows: [appHeader-start] min-content [appHeader-end appBody-start] 1fr [appBody-end appFooter-start] min-content [appFooter-end];

  /*==== Header ====*/
  .AppHeaderComp {
    height: 60px;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #c0c0c1;
    padding: 10px 20px;
    box-sizing: border-box;

    grid-column: col-start / col-end;
    grid-row: appHeader-start / appHeader-end;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand__logo {
      height: 40px;
    };
    .user-name__wrapper {
      display: flex;
      align-items: center;
      color: #006874;

      .home__menu {
        margin-right: 15px;
        margin-top: 5px;
        font-size: 1.3rem;
        font-weight: bold;

        a {
          color: #006874;

          &:hover {
            color: #009cae !important;
            text-decoration: none;
            transition: 0.5s ease !important;
          };
        };

      };
      .profile__dropdown {
        margin-right: 8px;
        cursor: pointer;

        .rounded-avatar {
          height: 25px;
          width: 25px;
          border-radius: 50px;
        };
      };
      .admin__name {
        margin-top: 5px;
        font-size: 1.5rem;
        font-weight: bold;
      };
    };

    .drop-down-menu {
      width: 170px;
      margin-top: 130px;
      border: none;
      border-radius: 3px;
      -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .15);
      box-shadow: 0 0 25px rgba(0, 0, 0, .15);
      background: white;
      position: absolute;
      right: 10px;

      &::before {
        content: "";
        height: 15px;
        width: 15px;
        margin-top: -8px;
        background: white;
        display: inline-block;
        position: absolute;
        right: 27px;
        transform: rotate(45deg);
        z-index: 1;
      };

      .profile-dropdown__item {
        padding: 10px 15px;
        line-height: 1.2;
        color: #777ab2;

        display: flex;
        align-items: center;

        .dropdown__icon {
          margin-right: 10px;
        };

        &:hover {
          background: linear-gradient(#ffffff, #f6f6f8);
        }
      };
    };
  };

  .app-body__wrapper {
    height: $fullHeight;
    width: $fullWidth;

    grid-column: col-start / col-end;
    grid-row: appBody-start / appBody-end;
  };

  .AppFooterComp {
    height: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    border-top: 1px solid #c0c0c1;
    padding: 10px 20px;
    text-align: center;

    grid-column: col-start / col-end;
    grid-row: appFooter-start / appFooter-end;

    .copy-right {
      a {
        margin-left: 10px;
        color: #006874;
        font-size: 1.5rem;
      }
    }
  }
};
