@import "../GlobalStyle";

.AppLayoutComp {
  height: $deviceHeight;
  width: $fullWidth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: [col-start] 1fr [col-end];
  grid-template-rows: [appHeader-start] min-content [appHeader-end appBody-start] 1fr [appBody-end appFooter-start] min-content [appFooter-end];

  /*==== Header ====*/
  .AppHeaderComp {
    height: 60px;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #c0c0c1;
    padding: 10px 20px;

    grid-column: col-start / col-end;
    grid-row: appHeader-start / appHeader-end;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand__logo {
      height: 40px;
    };
    .user-name__wrapper {
      display: flex;
      align-items: center;
      color: #006874;

      .admin__name {
        margin-right: 8px;
        margin-top: 5px;
        font-size: 1.5rem;
        font-weight: bold;
      };
      .profile__dropdown {
        cursor: pointer;

        .rounded-avatar {
          height: 25px;
          width: 25px;
          border-radius: 50px;
        };
      };
    };
  };

  .app-body__wrapper {

    grid-column: col-start / col-end;
    grid-row: appBody-start / appBody-end;
  };

  .AppFooterComp {
    height: 60px;
    font-family: 'Raleway', sans-serif;
    border-top: 1px solid #c0c0c1;
    padding: 10px 20px;

    grid-column: col-start / col-end;
    grid-row: appFooter-start / appFooter-end;
  }
};
